<!doctype html>
<html lang="ko">
<head>
  <style>
    @font-face {
      font-family: 'JalnanGothic';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
  </style>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/main.css}" rel="stylesheet" />
  <title>Hello, sbb!</title>
</head>
<body>

<!-- 네비게이션바 -->
<nav th:replace="~{navbar :: navbarFragment}" style="font-family: 'JalnanGothic', sans-serif;"></nav>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content" class="flex items-start justify-center h-screen pt-20" style="font-family: 'JalnanGothic', sans-serif;"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- Bootstrap JS -->
<!--<script th:src="@{/bootstrap.min.js}"></script>-->
<!-- 자바스크립트 Start -->
<th:block layout:fragment="script"></th:block>
<!-- 자바스크립트 End -->
</body>
</html>