<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container mx-auto my-3">
    <!-- 질문 -->
    <h2 class="border-b-2 ml-5 py-4 text-xl font-extrabold text-gray-700" th:text="${question.subject}"></h2>
    <div class="my-3 bg-sky-50 shadow-lg rounded-lg overflow-hidden">
        <div class="p-6 bg-warmGray-50">
            <div class="text-gray-600" th:utext="${@commonUtil.markdown(question.content)}"></div>
            <div class="flex justify-end mt-4">
                <div th:if="${question.modifyDate != null}" class="text-gray-800 p-2 mr-5 border border-gray-300 rounded">
                    <div class="mb-2">수정 시간 : </div>
                    <div th:text="|${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}|"></div>
                </div>
                <div class="bg-sky-150 text-gray-800 p-2 border border-gray-300 rounded">
                    <div class="mb-2">
                        <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                    </div>
                    <div th:text="|생성일 : ${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}|"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm bg-sky-200 text-white py-2 px-4 rounded shadow hover:bg-sky-300"
                   th:data-uri="@{|/question/vote/${question.id}|}">
                    추천
                    <span class="badge rounded-full bg-sky-50 ml-2" th:text="${#lists.size(question.voter)}"></span>
                </a>
                <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm bg-sky-200 hover:bg-sky-300 text-white py-2 px-4 rounded shadow  ml-2"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
                   class="delete btn btn-sm bg-sky-200 text-white py-2 px-4 rounded shadow hover:bg-blue-300 ml-2" sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <h5 class="border-b-2 my-3 py-2 text-lg font-bold text-gray-700"
        th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="my-3 bg-warmGray-100 shadow-lg rounded-lg overflow-hidden" th:each="answer : ${question.answerList}">
        <a th:id="|answer_${answer.id}|"></a>
        <div class="p-6 bg-warmGray-200">
            <div class="text-gray-600" style="white-space: pre-line;" th:text="${answer.content}"></div>
            <div class="flex justify-end mt-4">
                <div th:if="${answer.modifyDate != null}" class="text-gray-800 p-2 mr-5 border border-gray-300 rounded">
                    <div class="mb-2">수정 시간 : </div>
                    <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="bg-sky-150 text-gray-800 p-2 border border-gray-300 rounded">
                    <div class="mb-2">
                        <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                    </div>
                    <div th:text="|생성일 : ${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}|"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm bg-sky-200 text-white py-2 px-4 rounded shadow hover:bg-sky-300"
                   th:data-uri="@{|/answer/vote/${answer.id}|}">
                    추천
                    <span class="badge rounded-full bg-sky-50 ml-2" th:text="${#lists.size(answer.voter)}"></span>
                </a>
                <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm bg-sky-200 text-white py-2 px-4 rounded shadow hover:bg-sky-300 ml-2"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                   class="delete btn btn-sm bg-sky-200 text-white py-2 px-4 rounded shadow hover:bg-sky-300 ml-2" sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝  -->
    <!-- 답변 작성 -->
    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control resize-none shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" rows="10"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control resize-none shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" rows="10"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
</html>