<html layout:decorate="~{layout}">
<div layout:fragment="content" class="flex items-start justify-center h-screen pt-20">
    <form th:object="${questionForm}" method="post" class="w-full max-w-md mx-auto rounded border p-5 bg-white">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <h1 class="text-2xl font-bold mb-5 text-center">질문 등록</h1>
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="subject" class="form-label text-lg text-warmGray-900">제목</label>
            <input type="text" th:field="*{subject}" class="form-control bg-warmGray-100 border-warmGray-300 py-3 w-full">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label text-lg text-warmGray-900">내용</label>
            <textarea th:field="*{content}" class="form-control bg-warmGray-100 border-warmGray-300 py-3 w-full" rows="10"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn px-4 py-2 rounded bg-blue-500 hover:bg-blue-600 text-white text-lg">
    </form>
</div>
</html>